{% extends 'community_base.html' %}
{% load humanize %}

{% block content %}
  <style>
    @font-face {
      font-family: 'CHONBUKL';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/CHONBUKL.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    #quote {
      font-family: 'CHONBUKL';
      font-size: 800%;
    }

    .review {
      display: inline-block; 
      width: 950px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }

    .redpurple {
      background: #cc2b5e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .purple {
      background: #654ea3;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .darkblue {
      background: #4b6cb7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .blue {
      background: #1488CC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .bluegreen {
      background: #134E5E;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .green {
      background: #56ab2f;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .yellowgreen {
      background: #DCE35B;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .yellow {
      background: #fceabb;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #fceabb, #f8b500);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #fceabb, #f8b500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .orange {
      background: #f46b45;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .red {
      background: #cb2d3e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .gotoReview{
      color: dimgray;
    }
    .gotoReview:hover {
      color: black;
    }
  </style>

  <div class="p-4 pt-5 mb-3 mx-0 mt-3" style="border-radius: 20px; background-color: rgba(255, 255, 255, 0.856);">
    <div class="row">
      <div class="col-5">
        <img style="margin-left: 1.5rem;" src="{{ movie.poster_path }}" alt="">
      </div>
      <div class="col-6" style="margin-left: 5rem;">
        <div>
          <h3 style="font-size: 400%;">{{ movie.title }}</h3>
          <p class="mx-2">네티즌 평점 {{ movie.vote_average }} | 팔레트 평점 {{ avg_rank|floatformat }}</p>
          <div id="info" style="border-top: 1px solid rgb(173, 173, 173); border-bottom: 1px solid rgb(173, 173, 173);" class="pt-2 pb-2 mb-0 mx-2">
            <span style="font-weight: bold; color: rgb(70, 70, 70);">개봉</span><span class="mx-4">{{ movie.release_date }}</span><br>
            <span style="font-weight: bold; color: rgb(70, 70, 70);">감독</span><span class="mx-4">{{ movie.director }}</span><br>
            <span style="font-weight: bold; color: rgb(70, 70, 70);">출연</span><span class="mx-4">{{ movie.actors }}</span>
          </div>
          <div id="overview">
            <div class="d-flex justify-content-center mb-2" style="height: 95px; color: rgb(97, 97, 97);" id="quote">"</div>
            <div class="px-4 mx-1 d-flex justify-content-center">
              <p style="font-size: 110%; color: rgb(58, 58, 58); letter-spacing : 2px; line-height: 170%; text-align:justify;">{{ movie.overview }}</p>
            </div>
          </div>
        </div>
        <!-- 예고편과 사진 -->
        <!--유투브 들어갈 div-->
        <div class="video-container mx-0 d-flex">
          <div class="embed-responsive embed-responsive-16by9">
            {% comment %} <img style="width: 275px;" src="https://img1.daumcdn.net/thumb/R800x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F05jk8%2FbtqFNhPwZ8D%2FKSyAaHOZKrXHsq56K731e1%2Fimg.png" alt=""> {% endcomment %}
            <iframe class="embed-responsive-item" style="margin-left: 1rem; width: 300px; height:169px;" src="" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="">
            <img style="margin-left: 1rem;" src="{{ drop }}" alt="">
          </div>
        </div>
        <!--width="400px" height="250px"-->
      </div>
    </div>

    <!-- 리뷰 목록 -->
    <div class="row w-100 mt-3">
      <a href="{% url 'community:create' movie.pk %}" class="d-flex justify-content-end mt-3 mb-2 text-decoration-none" style="padding-right: 1rem;">
        <span class="gotoReview" style="font-size:120%;">리뷰 작성하러 가기</span>
        <i style="font-size:120%; color: dimgray;" class="fas fa-arrow-right mt-1 mx-3"></i>
      </a>
      <div class="list-group w-100 px-4 mb-3" style="margin-left: 1.5rem;">
        {% for review in movie.review_set.all %}
          <a href="{% url 'community:detail' review.pk %}" class="row list-group-item list-group-item-action" style="height: 80px;" aria-current="true">
            <div class="d-flex justify-content-between w-100 px-0">  
              <div class="col-1 pt-2" style="margin-left: 1rem; margin-right: 0.5rem; text-align: center;  width: 50px; height: 70px;">
                {% if review.rank >= 8 %}
                  <h5 style="font-size: 180%;" class="mb-1">😍</h5>
                {% elif review.rank > 5 %}
                  <h5 style="font-size: 180%;" class="mb-1">🙂</h5>
                {% else %}
                  <h5 style="font-size: 180%;" class="mb-1">😭</h5>
                {% endif %}
                <p>{{ review.rank }}점</p>
              </div>
              <div class="col-11 mx-2 px-4" style="height: 65px; border-left: 1px solid lightgrey; padding: 10px 0px;">
                <div class="d-flex w-100 justify-content-between align-items-center">
                  <h5 class="mb-1">{{ review.user }}</h5> 
                  <span class="badge bg-secondary rounded-pill">{{ review.updated_at|naturaltime }}</span>
                </div>
                <div class="review ">
                  <small class="mb-1" style="font-weight: bold;">"{{ review.title }}" | </small>
                  <small>{{ review.content }}</small>
                </div>
              </div>
            </div>
          </a>
        {% endfor %} 
      </div>
    </div>
  </div>
  <div class="d-flex justify-content-end ">
    <a href="{% url 'movies:movie_list' movie.custom_genre %}" role="button" class="mx-5 mb-4 btn btn-light btn-lg">back</a>
  </div>
  <p style="opacity:0;" id="customGenre">{{ movie.custom_genre }}</p>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  window.onload = function (event) {
    const url = window.location.href
    const custom_genre = document.querySelector('#customGenre').innerText
    if (custom_genre === '1') {
      document.body.classList.add('red')
    }
    if (custom_genre === '2') {
      document.body.classList.add('orange')
    }
    if (custom_genre === '3') {
      document.body.classList.add('yellow')
    }
    if (custom_genre === '4') {
      document.body.classList.add('yellowgreen')
    }
    if (custom_genre === '5') {
      document.body.classList.add('green')
    }
    if (custom_genre === '6') {
      document.body.classList.add('bluegreen')
    }
    if (custom_genre === '7') {
      document.body.classList.add('blue')
    }
    if (custom_genre === '8') {
      document.body.classList.add('darkblue')
    }
    if (custom_genre === '9') {
      document.body.classList.add('purple')
    }
    if (custom_genre === '1-') {
      document.body.classList.add('redpurple')
    }

    console.log(event)
    const iframe = document.querySelector('.embed-responsive-item')
    let path = event.target.location.pathname
    let moviepk = path.substring(15, path.length-1)
    console.log(moviepk)
    axios.get('http://127.0.0.1:8000/movies/get_movie/', {
      params: {
        moviepk,
      }
    })
    .then(function (res) {
      const dict = res.data
      console.log(dict.query)
      const query = dict.query
      console.log(query)

      // const API_KEY = 'AIzaSyBoRcoDXtTX17xghBnv2o4faswjfOSESBQ' // 지민
      const API_KEY = 'AIzaSyDfPuDrF0vF9ojrrvvM1JbMGtPENRkl1_Q' // 채은
      const API_URL = 'https://www.googleapis.com/youtube/v3/search'
      const params = {
        key: API_KEY,
        part: 'snippet',
        type: 'video',
        q: query,
      }
      console.log(params)
      
      axios({
        url: API_URL,
        method: 'get',
        params,
      })
      .then(function (res) {
        console.log(res.data.items[0].id)
        const videoURI = res.data.items[0].id.videoId
        console.log(videoURI)
        iframe.src = 'https://www.youtube.com/embed/' + videoURI
      })

    })
  }
</script>
{% endblock  %}