{% extends 'community_base.html' %}


{% block content %}
<div>
  <h3>{{ movie.title }}</h3>
</div>
 <img src="{{ movie.poster_path }}" alt="">
 <div>
  영화 줄거리: {{ movie.overview }}
 </div>
 <div>
  영화 평점: {{ movie.vote_average }}
 </div>
<div>
  <h3>wordcloud</h3>
  {% if movie.wordcloud %}
    <img src="{{ movie.wordcloud.url }}" alt="">
  {% endif %}
</div>
<a href="{% url 'movies:movie_list' movie.custom_genre %}">back</a>
 <div>
  
  {% for review in movie.review_set.all %}
  <!--리뷰 상세 페이지로 연결-->
    <a href="{% url 'community:detail' review.pk %}">리뷰 제목:</a> {{ review.title }}<br>
  {% endfor %} 
 </div>

  <a href="{% url 'community:create' movie.pk %}">리뷰작성</a><br>
  <a href="{% url 'movies:wordcloud_upload' movie.pk %}">워드클라우드 업로드</a>

<form class="like-form" data-movie-id="{{ movie.pk }}">
  {% csrf_token %}
  {% if user in movie.like.all %}
    <button class="btn btn-link">
      <i id="like-{{ movie.pk }}" class="fas fa-heart fa-lg" style="color:crimson;"></i>
    </button>
  {% else %}
    <button class="btn btn-link">
      <i id="like-{{ movie.pk }}" class="fas fa-heart fa-lg" style="color:black;"></i>
    </button>
  {% endif %}
</form>

<p>
  <span id="like-count-{{ movie.pk }}">
    {{ movie.like.all|length }} 명이 이 영화를 좋아합니다.<br>
  </span>
</p>


<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
  const form = document.querySelector('.like-form')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  form.addEventListener('submit', function (event) {
    event.preventDefault()
    const movieId = event.target.dataset.movieId
    axios.post(`http://127.0.0.1:8000/movies/like/${movieId}/`, {}, {
      headers: {
        'X-CSRFToken': csrftoken
      }
    })
    .then(function (response) {
      const { liked, likeCount } = response.data
      const likedStatus = document.querySelector(`#like-${movieId}`)
      const likedCountStatus = document.querySelector(`#like-count-${movieId}`)

      if (liked) {
        likedStatus.setAttribute('style', "color:crimson;")
      } else {
        likedStatus.setAttribute('style', "color:black;")
      }

      likedCountStatus.innerText = `${likeCount}명이 이 글을 좋아합니다.`
    })
    .catch(function (error) {
      if (error.response.status === 401) {
        window.location.href = 'http://127.0.0.1:8000/accounts/login/'
      }
    })
  })

</script>
{% endblock  %}