{% extends 'community_base.html' %}
{% load humanize %}

{% block content %}
  <style>
    @font-face {
      font-family: 'CHONBUKL';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/CHONBUKL.woff') format('woff');
      font-weight: normal;
      font-style: normal;
    }

    #quote {
      font-family: 'CHONBUKL';
      font-size: 800%;
    }

    .review {
      display: inline-block; 
      width: 500px; 
      white-space: nowrap; 
      overflow: hidden; 
      text-overflow: ellipsis;
    }

    .redpurple {
      background: #cc2b5e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #753a88, #cc2b5e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #753a88, #cc2b5e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .purple {
      background: #654ea3;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .darkblue {
      background: #4b6cb7;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .blue {
      background: #1488CC;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .bluegreen {
      background: #134E5E;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #71B280, #134E5E);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #71B280, #134E5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .green {
      background: #56ab2f;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #a8e063, #56ab2f);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #a8e063, #56ab2f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .yellowgreen {
      background: #DCE35B;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #45B649, #DCE35B);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #45B649, #DCE35B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    
    .yellow {
      background: #fceabb;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to left, #fceabb, #f8b500);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to left, #fceabb, #f8b500); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .orange {
      background: #f46b45;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #eea849, #f46b45);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #eea849, #f46b45); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    .red {
      background: #cb2d3e;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #ef473a, #cb2d3e);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #ef473a, #cb2d3e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  </style>

  <div class="p-4 pt-5 mb-4 mx-0 mt-3" style="border-radius: 20px; background-color: rgba(255, 255, 255, 0.856);">
    <div class="row">
      <div class="col-5">
        <img src="{{ movie.poster_path }}" alt="">
      </div>
      <div class="col-7">
        <h3 style="font-size: 400%;">{{ movie.title }}</h3>
        영화 평점: {{ movie.vote_average }}
        <div style="border-top: 1px solid grey;" class="mt-1">
          <div class="d-flex justify-content-center" style="height: 95px; color: rgb(97, 97, 97);" id="quote">"</div>
          <div class="px-4 mx-1 d-flex justify-content-center">
            <p style="font-size: 110%; color: rgb(58, 58, 58); letter-spacing : 2px; line-height: 160%; text-align:justify;">{{ movie.overview }}</p>
          </div>
        </div>

        <div class="w-100">
          <a href="{% url 'community:create' movie.pk %}">리뷰작성</a><br>
          <div class="list-group">
            {% for review in movie.review_set.all %}
              <a href="{% url 'community:detail' review.pk %}" class="row list-group-item list-group-item-action" style="height: 80px;" aria-current="true">
                <div class="d-flex justify-content-between w-100 px-0">  
                  <div class="col-1 pt-2" style="margin-right: 0.5rem; text-align: center;  width: 50px; height: 70px;">
                    {% if review.rank >= 8 %}
                      <h5 style="font-size: 180%;" class="mb-1">😍</h5>
                    {% elif review.rank > 5 %}
                      🙂
                    {% else %}
                      😞
                    {% endif %}
                    <p>{{ review.rank }}점</p>
                  </div>
                  <div class="col-11 mx-2 px-4" style="height: 65px; border-left: 1px solid lightgrey; padding: 10px 0px;">
                    <div class="d-flex w-100 justify-content-between align-items-center">
                      <h5 class="mb-1">{{ review.user }}</h5> 
                      <span class="badge bg-secondary rounded-pill">{{ review.updated_at|naturaltime }}</span>
                    </div>
                    <div class="review ">
                      <small class="mb-1" style="font-weight: bold;">"{{ review.title }}" | </small>
                      <small>{{ review.content }}</small>
                    </div>
                  </div>
    
                </div>
              </a>
            {% endfor %} 
          </div>
        </div>
      </div>
    </div>
    <!-- 리뷰 정보 -->
    <a href="{% url 'movies:movie_list' movie.custom_genre %}" role="button" class="btn btn-light btn-lg">back</a>
  </div>
<p style="opacity:0;" id="customGenre">{{ movie.custom_genre }}</p>


<script>
  window.onload = function () {
    const url = window.location.href
    const custom_genre = document.querySelector('#customGenre').innerText
    if (custom_genre === '1') {
      document.body.classList.add('red')
    }
    if (custom_genre === '2') {
      document.body.classList.add('orange')
    }
    if (custom_genre === '3') {
      document.body.classList.add('yellow')
    }
    if (custom_genre === '4') {
      document.body.classList.add('yellowgreen')
    }
    if (custom_genre === '5') {
      document.body.classList.add('green')
    }
    if (custom_genre === '6') {
      document.body.classList.add('bluegreen')
    }
    if (custom_genre === '7') {
      document.body.classList.add('blue')
    }
    if (custom_genre === '8') {
      document.body.classList.add('darkblue')
    }
    if (custom_genre === '9') {
      document.body.classList.add('purple')
    }
    if (custom_genre === '1-') {
      document.body.classList.add('redpurple')
    }
  }
</script>
{% endblock  %}