{% load bootstrap5 %}
<div style="p-0">
  <div class="d-flex justify-content-center mt-1">
    <a href="{% url 'movies:home' %}"  title="HOME" class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: red;"></a>
    <a href="{% url 'movies:about' %}" title="ABOUT" style="border-radius:50%; width: 20px; height: 20px; background-color: orange;"></a>
    <a href="{% url 'accounts:profile' user.username %}" title="MY PAGE" class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: yellow;"></a>
    <a href="{% url 'recommend:index' %}" title="RECOMMEND" style="border-radius:50%; width: 20px; height: 20px; background-color: green;"></a>
    <a href="{% url 'community:index' %}" title="COMMUNITY" class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: darkblue;"></a>

    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: red;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: orange;"></div> {% endcomment %}
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: yellow;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: greenyellow;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: green;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: #005666;"></div> {% endcomment %}
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: blue;"></div> {% endcomment %}
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: darkblue;"></div> {% endcomment %}
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: purple;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: #9B143;"></div> {% endcomment %}
  </div>
  <div class="d-flex justify-content-center mt-2 mb-0" style="color: #353535; letter-spacing :5px;">
    <h5>Movie Palette</h5>
  </div>
</div>
