{% load bootstrap5 %}
<div style="p-0">
  <div class="d-flex justify-content-center mt-1">
    <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: red;"></div>
    <div style="border-radius:50%; width: 20px; height: 20px; background-color: orange;"></div>
    <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: yellow;"></div>
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: greenyellow;"></div> {% endcomment %}
    <div style="border-radius:50%; width: 20px; height: 20px; background-color: green;"></div>
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: #005666;"></div> {% endcomment %}
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: blue;"></div> {% endcomment %}
    <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: darkblue;"></div>
    {% comment %} <div class="mx-1" style="border-radius:50%; width: 20px; height: 20px; background-color: purple;"></div> {% endcomment %}
    {% comment %} <div style="border-radius:50%; width: 20px; height: 20px; background-color: #9B143;"></div> {% endcomment %}
  </div>
  <div class="d-flex justify-content-center mt-2 mb-0" style="color: #353535; letter-spacing :5px;">
    <h5>Movie Palette</h5>
  </div>
</div>
