{% load bootstrap5 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/jejumyeongjo.css">
  <script src="https://kit.fontawesome.com/caed28bd65.js" crossorigin="anonymous"></script>
  {% bootstrap_css %}
  <title>Document</title>
</head>
<body style="background-color: rgb(238, 230, 223); font-family: 'Jeju Myeongjo', serif;">
  {% include "nav.html" %}
  <div class="container">
    <span class="m-0" style="position: absolute; top:110px; left: 230px; color: white; font-size: 150px;">Log</span>
    <div class="position: absolute; d-flex justify-content-center mt-5">
      <div class="px-2" style="border-radius: 20px; width:55%; height:600px; background-color: white">
        <div style="color: rgb(238, 230, 223); font-size: 150px; height: 200px;">In</div>
        <div class="text-center mt-1 px-3">
          <h4 style="color: rgb(223, 210, 197)">"Hello"</h4>
          <p class="lead" style="color: grey">movie palette에 오신 것을 환영합니다</h5>
          <div class="mb-4 mt-4 mx-5" style="border-top: 1.5px solid rgb(223, 210, 197);"></div>
          <form class="mt-4" style="font-size:large;" action="" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center">
              <button type="submit" class="btn btn-lg mt-2" style="height: 50px; background-color:rgb(238, 230, 223);">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% bootstrap_javascript %}
</body>
</html>

